<!doctype html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>Sistem for AUTO.RU</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/checkout/">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

      .b-example-divider {
        height: 3rem;
        background-color: rgba(0, 0, 0, .1);
        border: solid rgba(0, 0, 0, .15);
        border-width: 1px 0;
        box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
      }

      .b-example-vr {
        flex-shrink: 0;
        width: 1.5rem;
        height: 100vh;
      }

      .bi {
        vertical-align: -.125em;
        fill: currentColor;
      }

      .nav-scroller {
        position: relative;
        z-index: 2;
        height: 2.75rem;
        overflow-y: hidden;
      }

      .nav-scroller .nav {
        display: flex;
        flex-wrap: nowrap;
        padding-bottom: 1rem;
        margin-top: -1px;
        overflow-x: auto;
        text-align: center;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
      }
    </style>

    
    <!-- Custom styles for this template -->
    <link href="/static/css/form-validation.css" rel="stylesheet">
  </head>
  <body class="bg-light">

<div class="container">
  <main>
    <div class="py-5 text-center">
      <h2>Определение стоимости автомобиля</h2>
    </div>

      <div>
        <h4 class="mb-4">Данные об автомобиле</h4>
        <form enctype="multipart/form-data" class="needs-validation" method="post" action="/create_car" novalidate>
          <div class="row g-3">

            <div class="col-sm-6">
              <label for="brand" class="form-label">Марка</label>
              <select name="brand" class="form-select" id="brand" required>
                <option></option>
                <option value="BMW">BMW</option>
                <option value="Audi">Audi</option>
                <option value="Mercedes Benz">Mercedes Benz</option>
              </select>
              <div class="invalid-feedback">
                Выберите марку из списка
              </div>
            </div>


            <div class="col-sm-6">
              <label for="model_info" class="form-label">Модель</label>
              <select name="model_info" class="form-select" id="model_info" required>
                <option></option>
                <option value="4">4</option>
                <option value="100">100</option>
                <option value="2011">2011</option>
                <option value="1ER">1ER</option>
                <option value="2ACTIVETOURER">2ACTIVETOURER</option>
                <option value="2ER">2ER</option>
                <option value="2GRANDTOURER">2GRANDTOURER</option>
                <option value="3ER">3ER</option>
                <option value="5ER">5ER</option>
                <option value="6ER">6ER</option>
                <option value="7ER">7ER</option>
                <option value="8ER">8ER</option>
                <option value="A_KLASSE">A_KLASSE</option>
                <option value="A_KLASSE_AMG">A_KLASSE_AMG</option>
                <option value="A1">A1</option>
                <option value="A3">A3</option>
                <option value="A4">A4</option>
                <option value="A4_ALLROAD">A4_ALLROAD</option>
                <option value="A5">A5</option>
                <option value="A6">A6</option>
                <option value="A7">A7</option>
                <option value="A8">A8</option>
                <option value="ALLROAD">ALLROAD</option>
                <option value="AMG_GLC_COUPE">AMG_GLC_COUPE</option>
                <option value="AMG_GT">AMG_GT</option>
                <option value="B_KLASSE">B_KLASSE</option>
                <option value="C_KLASSE">C_KLASSE</option>
                <option value="C_KLASSE_AMG">C_KLASSE_AMG</option>
                <option value="CITAN">CITAN</option>
                <option value="CL_KLASSE">CL_KLASSE</option>
                <option value="CL_KLASSE_AMG">CL_KLASSE_AMG</option>
                <option value="CLA_KLASSE">CLA_KLASSE</option>
                <option value="CLA_KLASSE_AMG">CLA_KLASSE_AMG</option>
                <option value="CLC_KLASSE">CLC_KLASSE</option>
                <option value="CLK_KLASSE">CLK_KLASSE</option>
                <option value="CLS_KLASSE">CLS_KLASSE</option>
                <option value="CLS_KLASSE_AMG">CLS_KLASSE_AMG</option>
                <option value="E_KLASSE">E_KLASSE</option>
                <option value="E_KLASSE_AMG">E_KLASSE_AMG</option>
                <option value="G_KLASSE">G_KLASSE</option>
                <option value="G_KLASSE_AMG">G_KLASSE_AMG</option>
                <option value="GL_KLASSE">GL_KLASSE</option>
                <option value="GL_KLASSE_AMG">GL_KLASSE_AMG</option>
                <option value="GLA_CLASS">GLA_CLASS</option>
                <option value="GLA_CLASS_AMG">GLA_CLASS_AMG</option>
                <option value="GLC_COUPE">GLC_COUPE</option>
                <option value="GLK_KLASSE">GLK_KLASSE</option>
                <option value="GLK_KLASSE_AMG">GLK_KLASSE_AMG</option>
                <option value="GLE_KLASSE">GLE_KLASSE</option>
                <option value="GLE_KLASSE_AMG">GLE_KLASSE_AMG</option>
                <option value="GLE_KLASSE_COUPE">GLE_KLASSE_COUPE</option>
                <option value="GLE_CLASS_COUPE_AMG">GLE_CLASS_COUPE_AMG</option>
                <option value="GLK_KLASSE">GLK_KLASSE</option>
                <option value="GLS_KLASSE">GLS_KLASSE</option>
                <option value="GLS_KLASSE_AMG">GLS_KLASSE_AMG</option>
                <option value="I3">I3</option>
                <option value="I8">I8</option>
                <option value="М_КЛАССЕ">М_КЛАССЕ</option>
                <option value="M_KLASSE_AMG">M_KLASSE_AMG</option>
                <option value="M1">M1</option>
                <option value="M2">M2</option>
                <option value="M3">M3</option>
                <option value="M4">M4</option>
                <option value="M5">M5</option>
                <option value="Мб">Мб</option>
                <option value="None">None</option>
                <option value="Q3">Q3</option>
                <option value="Q5">Q5</option>
                <option value="Q7">Q7</option>
                <option value="Q8">Q8</option>
                <option value="R_KLASSE">R_KLASSE</option>
                <option value="R8">R8</option>
                <option value="RS4">RS4</option>
                <option value="RS4">RS4</option>
                <option value="RS5">RS5</option>
                <option value="RS6">RS6</option>
                <option value="RS7">RS7</option>
                <option value="RSQ3">RSQ3</option>
                <option value="S_CLASS_MAYBACH">S_CLASS_MAYBACH</option>
                <option value="S_KLASSE">S_KLASSE</option>
                <option value="S_KLASSE_AMG">S_KLASSE_AMG</option>
                <option value="S3">S3</option>
                <option value="S4">S4</option>
                <option value="S5">S5</option>
                <option value="S6">S6</option>
                <option value="S7">S7</option>
                <option value="S8">S8</option>
                <option value="SL_KLASSE">SL_KLASSE</option>
                <option value="SL_KLASSE_AMG">SL_KLASSE_AMG</option>
                <option value="SLC_KLASSE">SLC_KLASSE</option>
                <option value="SLC_KLASSE_AMG">SLC_KLASSE_AMG</option>
                <option value="SLK_KLASSE">SLK_KLASSE</option>
                <option value="SLR_KLASSE">SLR_KLASSE</option>
                <option value="SLS_AMG">SLS_AMG</option>
                <option value="SQ5">SQ5</option>
                <option value="SQ7">SQ7</option>
                <option value="TT">TT</option>
                <option value="TTS">TTS</option>
                <option value="V_KLASSE">V_KLASSE</option>
                <option value="VIANO">VIANO</option>
                <option value="VITO">VITO</option>
                <option value="W124">W124</option>
                <option value="W201">W201</option>
                <option value="X_KLASSE">X_KLASSE</option>
                <option value="X1">X1</option>
                <option value="X2">X2</option>
                <option value="X3">X3</option>
                <option value="X3_M">X3_M</option>
                <option value="X4">X4</option>
                <option value="X4_M">X4_M</option>
                <option value="X5">X5</option>
                <option value="X5_M">X5_M</option>
                <option value="Х6">Х6</option>
                <option value="X6_M">X6_M</option>
                <option value="X7">X7</option>
                <option value="Z1">Z1</option>
                <option value="Z3">Z3</option>
                <option value="Z4">Z4</option>
                <option value="Z8">Z8</option>
              </select>
              <div class="invalid-feedback">
                Выберите модель из списка
              </div>
            </div>


            <div class="col-sm-6">
              <label for="bodyType" class="form-label">Тип кузова</label>
              <select name="bodyType" class="form-select" id="bodyType" required>
                <option></option>
                <option value="Седан">Седан</option>
                <option value="Седан 2 дв.">Седан 2 дв.</option>
                <option value="Внедорожник 5 дв.">Внедорожник 5 дв.</option>
                <option value="Внедорожник 3 дв.">Внедорожник 3 дв.</option>
                <option value="Внедорожник открытый">Внедорожник открытый</option>
                <option value="Хетчбек 5 дв.">Хетчбек 5 дв.</option>
                <option value="Хетчбек 3 дв.">Хетчбек 3 дв.</option>
                <option value="Универсал 5 дв.">Универсал 5 дв.</option>
                <option value="Лифтбек">Лифтбек</option>
                <option value="Минивен">Минивен</option>
                <option value="Купе">Купе</option>
                <option value="Купе-хардтоп">Купе-хардтоп</option>
                <option value="Кабриолет">Кабриолет</option>
                <option value="Родстер">Родстер</option>
                <option value="Компактвен">Компактвен</option>
                <option value="Пикап двойная кабина">Пикап двойная кабина</option>
                <option value="Лимузин">Лимузин</option>
              </select>
              <div class="invalid-feedback">
                Требуется тип кузова
              </div>
            </div>

            <!-- <div class="col-sm-6">
              <label for="bodyType" class="form-label">Тип кузова</label>
              <input name="bodyType" type="text" class="form-control" id="bodyType" placeholder="" required>
              <div class="invalid-feedback">
                Требуется тип кузова
              </div>
            </div> -->

            <div class="col-sm-6">
              <label for="color" class="form-label">Цвет</label>
              <select name="color" class="form-select" id="color" required>
                <option></option>
                <option value="чёрный">Чёрный</option>
                <option value="серебристый">Серебристый</option>
                <option value="белый">Белый</option>
                <option value="синий">Синий</option>
                <option value="серый">Серый</option>
                <option value="красный">Красный</option>
                <option value="коричневый">Коричневый</option>
                <option value="зелёный">Зелёный</option>
                <option value="голубой">Голубой</option>
                <option value="пурпурный">Пурпурный</option>
                <option value="бежевый">Бежевый</option>
                <option value="фиолетовый">Фиолетовый</option>
                <option value="оранжевый">Оранжевый</option>
                <option value="золотистый">Золотистый</option>
                <option value="жёлтый">Жёлтый</option>
                <option value="розовый">Розовый</option>
              </select>
              <div class="invalid-feedback">
                Выберите цвет из списка
              </div>
            </div>

            <div class="col-sm-6">
              <label for="engineDisplacement" class="form-label">Объём двигателя (LTR)</label>
              <input name="engineDisplacement" type="text" class="form-control" id="engineDisplacement" placeholder="" required>
              <div class="invalid-feedback">
                Требуется объём двигателя
              </div>
            </div>

            <div class="col-sm-6">
              <label for="enginePower" class="form-label">Мощность двигателя (л.с.)</label>
              <input name="enginePower" type="number" class="form-control" id="enginePower" placeholder="" required>
              <div class="invalid-feedback">
                Требуется мощность двигателя
              </div>
            </div>

            <div class="col-sm-6">
              <label for="fuelType" class="form-label">Тип топлива</label>
              <select name="fuelType" class="form-select" id="fuelType" required>
                <option></option>
                <option value="бензин">Бензин</option>
                <option value="дизель">Дизель</option>
                <option value="гибрид">Гибрид</option>
                <option value="электро">Электро</option>
              </select>
              <div class="invalid-feedback">
                Выберите тип топлива из списка
              </div>
            </div>


            <div class="col-sm-6">
              <label for="mileage" class="form-label">Пробег (км)</label>
              <input name="mileage" type="number" class="form-control" id="mileage" placeholder="" required>
              <div class="invalid-feedback">
                Требуется пробег
              </div>
            </div>

            <div class="col-sm-6">
              <label for="productionDate" class="form-label">Год выпуска</label>
              <input name="productionDate" type="number" class="form-control" id="productionDate" placeholder="" required>
              <div class="invalid-feedback">
                Требуется год выпуска
              </div>
            </div>

            <div class="col-sm-6">
              <label for="name" class="form-label">Наименование двигателя</label>
              <input name="name" type="text" class="form-control" id="name" placeholder="" >
              <div class="invalid-feedback">
                Требуется название двигателя
              </div>
            </div>

            <div class="col-sm-6">
              <label for="numberOfDoors" class="form-label">Количество дверей</label>
              <input name="numberOfDoors" type="number" class="form-control" id="numberOfDoors" placeholder="" required>
              <div class="invalid-feedback">
                Требуется количество дверей
              </div>
            </div>

            <div class="col-sm-6">
              <label for="modelDate" class="form-label">Год поступления модели в продажу</label>
              <input name="modelDate" type="number" class="form-control" id="modelDate" placeholder="" required>
              <div class="invalid-feedback">
                Требуется год поступления модели в продажу
              </div>
            </div>

            <div class="col-sm-6">
              <label for="owners" class="form-label">Количество владельцев</label>
              <input name="owners" type="number" class="form-control" id="owners" placeholder="" required>
              <div class="invalid-feedback">
                Требуется количество владельцев
              </div>
            </div>

            <div class="col-sm-6">
              <label for="vehicleTransmission" class="form-label">Тип трансмиссии</label>
              <select name="vehicleTransmission" class="form-select" id="vehicleTransmission" required>
                <option></option>
                <option value="автоматическая">Автоматическая</option>
                <option value="вариатор">Вариатор</option>
                <option value="маханическая">Механическая</option>
                <option value="роботизированная">Роботизированная</option>
              </select>
              <div class="invalid-feedback">
                Выберите тип трансмиссии из списка
              </div>
            </div>


            <div class="col-sm-6">
              <label for="vehicle_passport" class="form-label">ПТС</label>
              <select name="vehicle_passport" class="form-select" id="vehicle_passport" required>
                <option></option>
                <option value="оригинал">Оригинал</option>
                <option value="дубликат">Дубликат</option>
              </select>
              <div class="invalid-feedback">
                Выберите ПТС из списка
              </div>
            </div>


            <div class="col-sm-6">
              <label for="type_of_drive" class="form-label">Вид привода</label>
              <select name="type_of_drive" class="form-select" id="type_of_drive" required>
                <option></option>
                <option value="полный">Полный</option>
                <option value="передний">Передний</option>
                <option value="задний">Задний</option>
              </select>
              <div class="invalid-feedback">
                Выберите вид привода из списка
              </div>
            </div>


            <div class="col-sm-6">
              <label for="wheel" class="form-label">Расположение руля</label>
              <select name="wheel" class="form-select" id="wheel" required>
                <option></option>
                <option value="левый">Левый</option>
                <option value="правый">Правый</option>
              </select>
              <div class="invalid-feedback">
                Выберите тип расположения руля
              </div>
            </div>


            <hr class="my-4">
            <h4 class="mb-3">Описание автомобиля</h4>


            <div class="col-12">
              <textarea name="description" type="text" class="form-control" id="description" placeholder="" value="" required></textarea>
              <div class="invalid-feedback">
                Требуется описание
              </div>
            </div>


          <hr class="my-4">

          <button class="w-100 btn btn-primary btn-lg" type="submit">Узнать стоимость</button>
          </div>
        </form>
      </div>
  </main>

  <footer class="my-5 pt-5 text-muted text-center text-small">
    <p class="mb-1">&copy; 2022 <b>Team 95</b></p>
  </footer>
</div>
    <script src="/static/js/form-validation.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>

  </body>
</html>
